<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  		Logged In User : <b> {{ loggedInUser }} !! </b>
  		<br />
  		<br />
  		{% if opt4 %}
	   		<form action="/resultsPage" method="post">
	   	{% endif %}	
	   	{% if opt5 %}
	   		<form action="/exportXML" method="post">
	     {% else %}
	     	<form action="/randomItems" method="post">
	     {% endif %}
  	   	  <p>Please select one of the following categories:</p>	
	   		{% for eachCategory in allCategories %}
	        	<input type=radio name=catName value="{{ eachCategory.categoryName }}" /> {{ eachCategory.categoryName }} (Owned By : {{ eachCategory.author }})
		        <br />
		        <input type=hidden name=username value="{{ eachCategory.author }}" />
		        <br />
    		{% endfor %}
    		<input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
	       <div>
		      <button type="submit" value="Login">Submit</button>
		      <button type="reset" value="Reset">Reset</button>
		   </div>
	   </form>
    <br />
    <br />
    <br />
    <a href="/">Back to Login Page</a>

  </body>
</html>