<html>
<head>
</head>
<body>
    <p align="left"><a href="{{ logout }}">Logout</a> </p>
  	<br />
  	Logged In User : <b> {{ loggedInUser }} !! </b>
  	<br />
  	<form name="importXMLForm" enctype="multipart/form-data" action="/importXML" method="post">
	  	{% if import_success %}
		     	<h4>Your XML is imported successfully.</h4>
		{% endif %}
		<br />
	  	<br />
		Upload Category XML : <input type="file" name="imported_file" />
		<br />
		<input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
	    <input type=hidden name=logout value="{{ logout }}" />
		<br />
		<button type="submit" value="Import">Import</button>
		<button type="reset" value="Reset">Reset</button>
	</form>
	<br />
	<br/> <br/>
    <br />
    <br />
    <a  href="/welcomeBack">Back to Welcome Page</a>
</body>
</html>