<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
	   <form action="/allItemsForUser" method="post">
  	   	  <p>Categories Owned by you are as follows. Please choose one to edit:</p>	
	   		{% for category in categsForUser %}
	        	<input type=radio name=catName value="{{ category.categoryName }}" /> {{ category.categoryName }}
		        <br />
		        <br />
    		{% endfor %}
		        <input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
		        <br />
	       <div>
		      <button type="submit" value="Login">Submit</button>
		      <button type="reset" value="Reset">Reset</button>
		   </div>
	   </form>
    <br />
    <br />
    <br />
    <a href="/">Back to Login Page</a>

  </body>
</html>