<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script>
	function validateForm()
	{
	var x=document.forms["userItemForm"]["itemName"].value;
	if (x==null || x=="")
	  {
	  alert("Item field is mandatory");
	  return false;
	  }
	}
</script>
  </head>
  <body>
  	   <p align="left"><a href="{{ logout }}">Logout</a> </p>
  	   <br />
  	   <br />
  	   Logged In User : <b> {{ loggedInUser }} !! </b>	
	   <form name="userItemForm" action="/newAddedItem" onsubmit="return validateForm()" method="post">
  	   	  <p>Following Items are existing in the category : {{ selectedCat }}. </p>	
	   		<ul>
	   		{% for items in itemsForUser %}
	        	 <li> {{ items.itemName }} </li> 
	        	 <br />
    		{% endfor %}
    		</ul>
    		<hr>
    	  <div id=itemName >Add new Item here : <input type=text name=itemName > </div>
    	  <br />
    	  <input type=hidden name=catName value="{{ selectedCat }}" />
    	  <input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
    	  <input type=hidden name=logout value="{{ logout }}" />
    	  <br />
	       <div>
		      <button type="submit" value="Login">Submit</button>
		      <button type="reset" value="Reset">Reset</button>
		   </div>
	   </form>
    <br />
    <br />
    <br />
    <a  href="/welcomeBack">Back to Welcome Page</a>

  </body>
</html>