<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	  <script type="text/javascript">
		  function load(previousComment1,previousComment2) {
			  if ((previousComment1 != null) && (previousComment1 != '')) {
			    document.getElementById('previousComment1').disabled = true;
			    document.getElementById('appendComment1').Value = "F"
			  }  
			  if ((previousComment2 != null) && (previousComment2 != '')) {
				  document.getElementById('previousComment2').disabled = true;
				  document.getElementById('appendComment2').Value = "F"
			  }
		   }
		  
		  function validate()
		  {
		    var retval = false;
		    for (var i=0; i < document.voteForm.r.length; i++)
		    {
		      if (document.voteForm.r[i].checked)
		      {
		        retval = true;
		        return retval;
		      }
		    }  
			alert('Select one of the options in order to proceed')
		    return retval;
		  }
	  </script>
  </head>
  <body onload="load('{{ previousComment1 }}','{{ previousComment2 }}')">
  	   <p align="left"><a href="/">Logout</a> </p>
  	   <br />
  	   <br />	
  	   Logged In User : <b> {{ loggedInUser }} !! </b>
  	   <br />
  	   <br />
  	   <br />	
	   <form name="voteForm" action="/newAddedVote" onsubmit="return validate()" method="post">
	       {% if vote_cast %}
	       		You Voted on {{ selectedItem }}
	     	 	<hr>
	     	 	<hr>	
	       {% endif %}	      
	       <br />	
	       <p>Please vote on one of the Items Below:</p>
	       <br />
	       <br />
	       <table>
	       	 <tr>
	       	   <td>
	       			Item Name:
	       	   </td>
	       	   <td>
	       			<input id="r" type=radio name=selectedItem value="{{ item1 }}" /> {{ item1 }}
	       	   </td>
	       	   <td>
			       <input id="r" type=radio name=selectedItem value="{{ item2 }}" /> {{ item2 }}
	       	   </td>
	       	 </tr>
	       	 <tr>
	       	 	<td>
	       			Comments:
	       	    </td>
	       	 	<td>
	       	 	  <textarea id="previousComment1" name="previousComment1" rows="3" cols="60">{{ previousComment1 }}</textarea>
	       	   </td>
	       	   <td>
	       	   	  <textarea id="previousComment2" name="previousComment2" rows="3" cols="60">{{ previousComment2 }}</textarea>	
	       	   </td>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 </tr>
	       	 <tr>
	       	 	<td>
	       	    </td>
	       	 	<td>
			      <p align="center"><button type="submit" value="Login">Submit</button>&nbsp;</p>
	       	   </td>
	       	   <td>
			      <p align="left"><button type="reset" value="Reset">Reset</button></p>
	       	   </td>
	       	 </tr>
	       </table>
	       <br />
	       <br />
	       <input type=hidden id="r" />
	       <input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
		   <input type=hidden name=username value="{{ author }}" />
		   <input type=hidden name=selectedCat value="{{ selectedCat }}" />
		   <input type=hidden name=item1 value="{{ item1 }}" />
		   <input type=hidden name=item2 value="{{ item2 }}" />
		   <input id="appendComment1" type=hidden name=appendComment1 value="T" />
		   <input id="appendComment2" type=hidden name=appendComment2 value="T" />
		   <br />
	   </form>
    <a  href="/welcomeBack">Back to Welcome Page</a>

  </body>
</html>