<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script type="text/javascript">
	  function toggle_visibility(id1,id2) {
		  if ((id1 == 'show') && (id2 == 'hide')) {
		    document.getElementById('searchElement').style.visibility='visible';
		    document.getElementById('catName').style.visibility='hidden';
		  }  
		  else if ((id1 == 'hide') && (id2 == 'show')) {
			document.getElementById('searchElement').style.visibility='hidden';  
			document.getElementById('catName').style.visibility='visible';
		  }
		  else {
			  document.getElementById('searchElement').style.visibility='hidden';
			  document.getElementById('catName').style.visibility='hidden';
		  }
	   }
	  
	  function validate()
	  {
	    var retval = false;
	    var x=document.forms["welcomeForm"]["searchElement"].value;
	    var y=document.forms["welcomeForm"]["catName"].value;
	    for (var i=0; i < document.welcomeForm.r.length; i++)
	    {
	      if (document.welcomeForm.r[i].checked)
	      {
	         if( (document.welcomeForm.r[i].value == 'opt6') && ((x==null || x=="")) ) {
	        	 retval = false;
	        	 alert('Search Field cannot be empty')
	        	 return retval;
	         }
	         else if( (document.welcomeForm.r[i].value == 'opt3') && ((y==null || y=="")) ) {
	        	 retval = false;
	        	 alert('Category Name cannot be empty')
	        	 return retval;
	         }
	    	  retval = true;
	          return retval;
	      }
	    }  
		alert('Select one of the options in order to proceed')
	    return retval;
	  }
  </script>	  
  </head>
  <body>
  	   <p align="left"><a href="{{ logout }}">Logout</a> </p>
  	   <br />
  	   <br />	
	   <form name="welcomeForm" action="/initChoice" onsubmit="return validate()" method="post">
	   	 {% if categoryAdded %}
	   	 	<h3>Your Category has been added successfully.</h3>
	   	 	<p>Note: If this Category already exists, then uniqueness will be maintained.</p>
	     {% else %}
	        Welcome to the live Condorcet Experiment : <b> {{ loggedInUser }} !! </b>
	     {% endif %}      
	       <br />
	       <p>What would you like to do:</p>
	       <br />
	       <br />
	       <table>
	       	<tr>
	       		<td width="300">
			       <input type=radio id="r" name=firstChoice value=opt1 onclick="toggle_visibility('hide','hide');" /> Vote on Existing Category
	       		</td>
	       		<td>
			       <input type=radio id="r" name=firstChoice value=opt6 onclick="toggle_visibility('show','hide');" /> Search Item / Category
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       		<td width="300">
			       <input type=radio id="r" name=firstChoice value=opt2 onclick="toggle_visibility('hide','hide');" /> Add/Edit Items to an Existing Category
	       		</td>
	       		<td>
			       <div id=searchElement style="visibility:hidden ">Enter Element to be searched : <input type=text name=searchElement > </div>
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       		<td width="300">
			       <input type=radio id="r" name=firstChoice value=opt4 onclick="toggle_visibility('hide','hide');" /> View Results of any Existing Category
	       		</td>
	       		<td>
				   <input type=radio id="r" name=firstChoice value=opt3 onclick="toggle_visibility('hide','show');" /> Create a new Category
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       		<td></td>
	       		<td>
				   <div id=catName style="visibility:hidden ">Enter Category Name : <input type=text name=catName > </div>
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       		<td width="300">
			       <input type=radio id="r" name=firstChoice value=opt5 onclick="toggle_visibility('hide','hide');" /> Export Category XML
	       		</td>
	       		<td>
				   <input type=radio id="r" name=firstChoice value=opt7 onclick="toggle_visibility('hide','hide');" /> Import Category XML
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       		<td align="center" width="300">
		      		<button type="submit" value="Login">Submit</button>&nbsp;
	       		</td>
	       		<td align="left" width="300">
				    <button type="reset" value="Reset">Reset</button>
	       		</td>
	       	</tr>
	       	<tr>
	       	</tr>
	       	<tr>
	       	</tr>
	       </table>
	       <br />
	       <br />
	       <br />
		   <hr>
		   <input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
		   <input type=hidden name=logout value="{{ logout }}" />
		   <br />
		   <br />
	   </form>
    

  </body>
</html>